* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  width: 100%;
  display: none;
  margin: 0 auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 10em;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:  #f3a94e;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #f3a94e;
  color:  white;
}

/* Caption text */
.text {
  color: black;
  margin-left: 0em;
  position: absolute;
  top:100%;
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  top: -2em;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0.25em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity:0.5}
  to {opacity: 1}
}