@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face{ font-family: 'Open Sans', sans-serif;}

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
}

/*  DESKTOP  */
@media only screen and (min-width: 768px){

html{
height:100%;
}

body {
	font-family: 'Muli';
	padding:0;
	margin:0;
	background-color:rgb(240,240,240);
	height:100%;
}


.mobile-horizontal-scroll{
  display:none;
}

.mobileSlide{
  display:none;
}
.mobileBuffer{
  display:none;
}
a{
	text-decoration:none;
	font-size:1em;
	color:black;
}

a:hover{
	color:rgb(250,200,100);
}
header{
	background-color:black;
	color:rgb(240,240,240);
	bottom:0;
	padding:0;
	height: 5%;
	min-height:35px;
	width:100%;
	font-size: 1em;
	z-index:9999;
	text-align:right;
	position:fixed;
}
.headerLink{
	color:rgb(240,240,240);
	position:relative;
	top:15%;
	right:20px;
  user-select:none;
}
.headerText{
	color:rgb(240,240,240);
}

/* HORIZONTAL SCROLLING SLIDESHOW */

.scrolling-wrapper {
  background-color:white;
  margin: 0em;
  padding:0;
  margin-bottom:none;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  z-index:9999;
  height:95%;
}
.static-wrapper {
  background-color:white;
  height:95%;
}
.card {
	background-color:rgb(240,240,240);
	margin:0;
	padding:0;
	margin-right:-5px;
    display: inline-block;
	height: 100%;
	text-align:center;
}
.textCard{
	padding:4%;
	display:inline-block;
	background-color: white;
	height:100%;
	width: 49.5%;
	overflow-y: scroll;
}
.textSlide{
	width:100%;
	margin: auto;
}
.slide{
	height:85%;
	margin: auto;
}
.cap{
	font-size: 0.75em;
}
.indexLink{
  display: block;
	height:50%;
	margin-bottom:0%;
}
.indexLink:hover{
	opacity:70%;
}


.quote{
margin:auto;
font-style:italic;
width:70%;
}

#note{
	position:absolute;
	right:0.25em;
	top:0px;
	font-size:3em;
	color:rgb(50,50,50);
}
#note:hover{
	color:rgb(250,200,100);
	cursor:pointer;
}

#info{
	position:absolute;
	display:none;
	width:100%;
	height:100%;
	margin:auto;
	background:white;
	opacity:90%;

}
#info-text{
	width:60%;
	opacity:100%;
	margin:auto;
	margin-top:15%;
}

}



/*  MOBILE */
@media only screen and (max-width: 768px){

html{
height:100%;
width:100%;
}
body {
  width:100%
  height:100%;
	font-family: 'Muli';
	margin:auto;
  background:white;
  padding-bottom:5em;
}

header{
  position:fixed;
  width:100%;
  background-color:black;
	color:rgb(240,240,240);
	bottom:0;
	padding-left:1em;
	height: 3em;
	font-size: 1.5em;
	z-index:9999;
	text-align:left;
}
.headerLink{
  color:rgb(240,240,240);
	position:relative;
	top:0.4em;
  user-select:none;
}
/* .mobileBuffer{
  display:block;
  width:100%;
  height:10%;
} */
.mobile-horizontal-scroll{
  scrollbar-width: none;    /*removes scrollbar on firefox */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.mobile-horizontal-scroll::-webkit-scrollbar{/*removes scrollbar on chrome */
  display: none;
}
.mobile-slide-container{
  position: relative;
  display:inline-block;
  text-align: center;
}
.mobile-slide{
  width:100%;
}
.mobile-slide-info{
  position:absolute;
  text-align: left;
  color:rgb(50,50,50);
  padding:3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:rgba(255, 255, 255, 0.6);
  display:none;
  user-select:none;
}

a{
  text-decoration:none;
}

/* removes desktop elements */
.scrolling-wrapper{
	display:none;
}


}
