@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@font-face{ font-family: 'Muli', sans-serif} 

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

a{
	text-decoration:none;
	color: #000000;
}

a:hover{
	color:#f3a94e;
}

body {
	font-family: 'Muli';
	max-width: 1000px;
	margin: auto;
} 


header {
  position: fixed;
  top:0em;
  background-color: none;
  color: #000000;
  z-index: 999;
}

.indexWrapper{
	margin-top:5em;
	text-align: center;
}


/*  MOBILE */
@media only screen and (max-width: 768px){
header{
	font-size: 1.5em;
	margin-top:1em;
	margin-left:2%;
}

.indexwrapper{
	display:none;
}

.indexSlide {
	display:none;
}
.mobileScroll{
	margin:auto;
	width:96%;
}
.mobileSlide{
	margin:auto;
	width:100%;
}

}




/*  DESKTOP  */
@media only screen and (min-width: 768px){

.mobileScroll{
	display:none;
}
.mobileSlide{
	display:none;
}

header{
	font-size: 2em;
	margin-top:1em;
	margin-left:2%;
}
.indexWrapper{
	margin:auto;
	width: 96%;
	margin-top:5em;
	text-align:left;
}
.indexSlide {
  float: left;
  padding: 5px;
  width: 50%;
}
.indexSlide:hover{
	opacity: 75%;
}
.slide{
	margin:0;
  padding: 5px;
	width:70%;

}
.cap{
	float:right;
	margin-right:4em;
	margin-top: 44%;
}
.descriptionWrapper{
	margin-top:5em;
	margin-left:10px;
	width: 70%;
	max-width: 800px;
}
.descriptionSlide{
width:100%;
}
.descriptionSlide:hover{
opacity:80%;
}
.textLink{
text-align:right;
font-size:0.75em;
}
.description{
width:75%;
}
.quote{
margin:auto;
font-style:italic;
width:70%;
}
footer{
font-size:0;
}
}




/* HORIZONTAL SCROLLING SLIDESHOW */	

.scrolling-wrapper {
  margin-top: 6em;
  margin-bottom:none;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  z-index:9999;
  height:35em;
  background-color:#ffffff;
}
.card {
    display: inline-block;
	margin-right:20px;
	height: 100%;
}
.cardCaption {

}




    	