*{
	font-family: courier new, monospace;
  box-sizing:border-box ;
  user-select:none;
  scrollbar-width: none;
}

.slideshow::-webkit-scrollbar {
  display: none;
}

html, body{
  margin:0px;
  padding:0px;
  width:100%;
  background:rgb(10,20,20); 
  color:rgb(210,210,210);
  vertical-align:top;
}

#nav{
	display:inline-block;
	width:20%;
	padding:15px;
	vertical-align:top;
}

#splash{
	display:inline-block;
	width:80%;
}

.card{
/* 	height:20vh; */
	width:100%;
	margin-bottom:2em;
/* 	border:dotted; */
}
#card-column{
	display:inline-block;
	width:80%;
	height:100vh;
	overflow:scroll;
}

.slide{
width:50%;

}

.description{
	display:inline-block;
	margin:2em;
	width:40%;
	vertical-align:bottom;
}

a{
	color:rgb(230,210,15);
	text-decoration:none;
}
a:hover{
	color:rgb(190,100,205);
}
/* 
a:visited{
	color:rgb(230,210,15);
}
 */





