*{
	font-family: courier new, monospace;
  box-sizing:border-box ;
  user-select:none;
  scrollbar-width: none;
}

.slideshow::-webkit-scrollbar {
  display: none;
}

html, body{
  margin:0px;
  padding:0px;
  width:100%;
  background:rgb(240,240,240);
  vertical-align:top;
}

#nav{
	display:inline-block;
	width:20%;
	padding:15px;
	vertical-align:top;
}

#splash{
	display:inline-block;
	width:80%;
}

.card{
/* 	height:20vh; */
	width:100%;
/* 	border:dotted; */
}
#card-column{
	display:inline-block;
	width:80%;
}

.slide{
width:50%;

}

.description{
	display:inline-block;
	margin:2em;
	width:40%;
	vertical-align:bottom;
}