*{
	font-family: courier new, monospace;
  box-sizing:border-box ;
  user-select:none;
  scrollbar-width: none;

}

.slideshow::-webkit-scrollbar {
  display: none;
}

html, body{
  margin:0px;
  padding:0px;
  width:100%;
  background:rgb(240,240,240);
  text-align:center;
  overscroll-behavior-y:none;
  overscroll-behavior-x:none;
  
}
body{
	margin:0;
	background:rgb(240,240,240);
}

.page-shell{
	max-width:800px;
	margin:0 auto;
	background:white;
	padding-top:56px;
}

#nav{
  position:sticky;
  top:0;
  z-index:20;
  display:flex;
  align-items:center;
  gap:16px;
  width:100%;
  padding:10px 15px;
  background:rgb(242,239,233);
  border-bottom:1px solid rgb(205,202,194);
  text-align:left;
}

.nav-top{
  display:flex;
  align-items:center;
  justify-content:space-between;
  min-width:220px;
}

.brand{
  color:rgb(28,34,34);
  font-size:1.05rem;
  white-space:nowrap;
}

.nav-links{
  display:flex;
  align-items:center;
  gap:14px;
  flex-wrap:wrap;
}

.nav-toggle{
  display:none;
  border:1px solid rgb(155,160,160);
  background:transparent;
  color:rgb(28,34,34);
  padding:6px 10px;
  font:inherit;
  cursor:pointer;
}

#nav.nav-collapsed{
  display:block;
  padding:10px 15px;
}

#nav.nav-collapsed .nav-top{
  width:100%;
}

#nav.nav-collapsed .nav-toggle{
  display:inline-block;
}

#nav.nav-collapsed .nav-links{
  display:none;
  width:100%;
  padding-top:10px;
  flex-direction:column;
  align-items:flex-end;
  gap:8px;
  text-align:right;
}

#nav.nav-collapsed.is-open .nav-links{
  display:flex;
}

#nav a{
  color:rgb(28,34,34);
  text-decoration:none;
}

#nav a:visited{
  color:rgb(28,34,34);
}

#slideshow{
	padding-top:1em;
	height:100%;
	width:100%;
}

.slide{
	max-height:70%;
	max-width:95%;
}
.caption{
	margin-bottom:2em;
	padding-left:2.5%;
	text-align:left;
	max-width:97.5%;
}

.writing{
	padding:10%;
	text-align:left;
}

.menu-item{
text-align: left;
padding:2em;
border-style:solid;
margin: 0px 20px 20px 20px

}

a{
color:black;
text-decoration:none;

}
a:visited{
color:black;
text-decoration:none;
}

.more-info-button{
	display:block;
	text-align:right;
	margin-top:1em;
}

.more-info-button:hover{
	filter: drop-shadow(2px 3px 2px chartreuse);
}

.link-icon{
	position: relative;
	width: 3em;
	top:5px;
	
}
.link-icon:hover{
/* 
	filter: drop-shadow(2px 3px 2px chartreuse);
 */
}

@media (max-width: 760px){
  .page-shell{
    padding-left:8px;
    padding-right:8px;
  }
}
