@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face{ font-family: 'Open Sans', sans-serif;} 



html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	scroll-behavior:smooth;
}

/*  DESKTOP  */
@media only screen and (min-width: 768px){

	body{
		font-family: 'Open Sans', sans-serif;
		display:block;
		margin:auto;
		padding:0;
		margin-top:50px;
		margin-bottom:100px;
		width:75%;
		max-width:800px;
		height:100%;
		background-color:white;
	}

	.portfolio-item{
		display:block;
		margin-top:20px;
		width:100%;
		background-color:lightgrey;
		border: 2px dotted darkgrey;
		margin:auto;
	}

	.content-wrapper{
/* 		max-height:70vh; */
		padding:20px;
		overflow:scroll;
		display:none;
		color:black;
	}

	.column{
		vertical-align:top;
		display:inline-block;
		width:49%;
		height:100%;
	}
	.description-img{
		display:block;
		width:75%;
		margin:auto;
	}
}


/*  MOBILE */
@media only screen and (max-width: 768px){

	body{
		font-family: 'Open Sans', sans-serif;
		display:block;
		margin:auto;
		padding:0;
		margin-top:50px;
		margin-bottom:100px;
		width:90%;
		height:100%;
		background-color:white;
	}

	.portfolio-item{
		display:block;
		margin-top:20px;
		width:100%;
		background-color:lightgrey;
		border: 2px dotted darkgrey;
		margin:auto;
	}

	.content-wrapper{
/* 		max-height:50vh; */
		padding:20px;
		overflow:scroll;
		display:none;
		color:black;
	}

	.column{
		display:block;
		width:100%;
		height:100%;
	}
	.description-img{
		display:block;
		width:70%;
		margin:auto;
		padding-top: 40px;
	}

}


.portfolio-item:hover{
	background:rgb(230,230,230);
}

.content-title{
	position:relative;
	padding-left:20px;
}

p{
	margin:0px;
}

.caption{
	width:75%;
	margin:auto;
	font-size:0.75em;
	color:grey;
}

footer{
	display:block;
	background:white;
	height:50%;
}

 
 