


html,
body {
  margin: 0px;
  padding: 0px;
  background: #fcfc42;
  
}


@media (max-width: 600px) {
  body {
    font-size: 2rem; /* Larger text on small screens */
  }
}

@media (min-width: 600px) {
  body {
    font-size: 2rem; /* Larger text on small screens */
  }
}

button{
  margin-top:20px;
}

input{
  margin-top:20px;
}


#wrapper{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align:center;

  max-width:800px;
  margin:auto;
}

a:link {
  color: SlateBlue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: SlateBlue;
}


.message{
  opacity: 1;
  transition: opacity 0.3s ease;
}
.hidden{
  opacity: 0;
  display:none;
}
