
*{
  font-family:sans-serif;
  box-sizing:border-box ;
  user-select:none;
}

html{
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
}

body{
  margin:0px;
  padding:0px;
  width:80%;
  max-width:900px;
  margin:auto;
  background-color:yellow;
}

h2{
  font-family:'Rubik Beastly', cursive;
  font-size:4em;
}

a{
 text-decoration:none; 
 color:black;
}

a.visted{
  color:black;
}

.card-link{
  margin:0px;
  padding:10px;
  margin-bottom:5px;
  display:inline-block;
  width:49%;
  max-width:200px;
  background:white;
  vertical-align:top;
}

.index-link{
  display:inline-block;
  margin-right:1em;
  margin-bottom:1em;
  padding:1em;
  border:dotted;
}
.index-link:hover{
  color:red;
}


.assignment-slide{
  width:100%;
  vertical-align:top;
  margin-bottom:10%;
}

.assignment-slide-link{
  width:100%;
  vertical-align:top;
  margin-bottom:10%;
}

.assignment-slide-link:hover{
  opacity:50%;
}

.assignment-vid{
  margin:5px;
  vertical-align:top;
}

.column{
  width:30%;
  display:inline-block;
  vertical-align:top;
  margin-bottom:3%;
  margin-right:3%;
}
