html, body {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}
canvas {
  display: block;
  position:fixed;
  bottom:10%;
  margin:auto;
  margin-top:5%;
  z-index:-1;
}

#center-bar{
	position:fixed;
	top:50%;
	height:10%;
	width:100%;
	color:black;
	background-color:none;
}

#bottom-bar{
	position:fixed;
	bottom:0px;
	height:10%;
	width:100%;
	background-color:black;
	color:black;
}

.control-button{
width:10%;height:10%;background-color:orange;position:fixed;
}
